@import "../arcade-mixins.scss";

.picture-puzzle-container {
    min-height: 100vh;
    max-height: fit-content;

    .header {
        @include gameHeader();
    }

    .game-board {
        @include gameContainer();

        .top-buttons {
            text-align: center;
            background-color: $colorContainerBackground;
            border-radius: 0.5em;
            margin-bottom: 1em;
            font-weight: 500;
        }

        #board {
            margin: auto;
            tr {
                th {
                    border: 1px solid gray;
                    h6 {
                        color: white;
                    }
                }
                th:hover {
                    opacity: 0.8;
                }
                .active {
                    border: none !important;
                }
            }
        }

        .bottom-buttons {
            text-align: center;
            margin: auto;
            padding-top: 1em;

            h6 {
                i {
                    margin-right: 0.5em;
                }
            }

            button {
                font-size: 16px;
                height: 40px;
                width: 100%;
                letter-spacing: 0.05em;
                border-radius: 3px;
                border: 0;
                padding: 5px;
                color: white;
                background-color: $colorContainerButtonDark;
                outline: none;
                transition: 0.3s ease-in-out;
                margin: 0.5em 0;
            }

            button:hover {
                transform: scale(1.03);
            }

            .sample-images {
                background-color: $colorContainerBackground;
                border-radius: 0.5em;
                padding-bottom: 1em;
                font-weight: 500;

                img {
                    width: 75px;
                    height: 75px;
                    border-radius: 5px;
                    cursor: pointer;
                    margin-bottom: 0.5em;
                }
            }

            .user-image {
                background-color: $colorContainerBackground;
                border-radius: 0.5em;
                margin: 1em 0 0 0;
                padding: 0.5em 1em;
                font-weight: 500;

                img {
                    width: 75px;
                    height: 75px;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}

@media all and (max-width: 1000px) {
    .picture-puzzle-container {
        .header {
            h2 {
                font-size: 3em;
            }
        }

        .game-board {
            padding: 1em 2em;
            width: 75%;

            .top-buttons {
                h4 {
                    font-size: 1.3em;
                }
            }

            #board {
                tr {
                    th {
                        h6 {
                            font-size: 0.8em;
                        }
                    }
                }
            }

            .bottom-buttons {
                .col-5,
                .col-7 {
                    max-width: unset;
                    flex: unset;
                    padding: 0;
                }

                h6 {
                    i {
                        margin-right: 0.5em;
                    }
                }

                .sample-images {
                    .col {
                        padding: 0;
                        margin: 0;
                        img {
                            width: 65px;
                            height: 65px;
                        }
                    }
                }

                .user-image {
                    .user-input {
                        width: min-content;

                        .col-2,
                        .col-9 {
                            padding: 0;

                            .row {
                                margin: 0;

                                img {
                                    width: 65px;
                                    height: 65px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 800px) {
    .picture-puzzle-container {
        .header {
            h2 {
                font-size: 2em;
            }
        }

        .game-board {
            padding: 1em;
            width: 95%;

            .top-buttons {
                h4 {
                    font-size: 1.1em;
                }

                label {
                    font-size: 0.8em;
                }
            }

            #board {
                tr {
                    th {
                        h6 {
                            font-size: 0.6em;
                        }
                    }
                }
            }

            .bottom-buttons {
                h6 {
                    i {
                        margin-right: 0.5em;
                    }
                }

                .sample-images {
                    .col {
                        padding: 0;
                        margin: 0;
                        img {
                            width: 65px;
                            height: 65px;
                        }
                    }
                }

                .user-image {
                    .user-input {
                        .col-9 {
                            .row {
                                margin: 0;

                                h6 {
                                    font-weight: 400;
                                }
                            }
                        }

                        .col-2 {
                            margin: 0 50px;
                            margin: 0.5em 0 0 0;
                            img {
                                width: 65px;
                                height: 65px;
                            }
                        }
                    }
                }
            }
        }
    }
}
