.block-stacker-container {
    .header {
        padding: 1em 0;

        h2 {
            text-align: center;
            font-family: monospace;
            font-weight: 600;
            font-size: 3.5em;
            color: white;

            .fas {
                font-size: 0.7em;
                color: #4a974a;
                margin: 0.5em;
            }
        }
    }

    .grid {
        min-height: 100vh;
        max-height: fit-content;
        padding: 0 25%;
        display: flow-root;
        margin-bottom: 2em;

        .mobile-buttons {
            display: none;
        }

        .game-board {
            border: solid 2px;
            float: left;
            background-color: rgba(7, 129, 7, 0.15);
        }

        .game-controls {
            flex-direction: column;
            justify-content: space-between;
            width: 300px;
            color: white;
            float: right;

            .mobile-button-container {
                display: none;
            }

            .desktop-buttons {
                display: block;
                flex-direction: row;
                justify-content: space-between;
                bottom: 0;

                .button {
                    font-size: 16px;
                    padding: 15px 30px;
                    width: 140px;
                    border: 1px solid black;
                }

                #play-button {
                    background-color: #4caf50;
                }
                #reset-button {
                    background-color: red;
                }
                #pause-button {
                    background-color: #4caf50;

                    &.button-disabled {
                        background-color: #cccccc;
                    }
                }
            }
        }
    }
}

#endGameOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;

    #text {
        text-align: center;
        background-color: #166024;
        padding: 1em;
        border-radius: 0.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);

        h2 {
            border-width: 0 0 1px 0;
            border-color: white;
            border-style: solid;
        }

        button {
            color: white;
            width: 30%;
            background-color: #3e593e;
            border-color: black;
            border-radius: 5px;
            position: relative;
            vertical-align: middle;
            height: 40px;
            p {
                font-size: 0.5em;
            }
        }
    }
}

@media all and (max-width: 1500px) {
    .block-stacker-container {
        .header {
            h2 {
                font-size: 3em;
            }
        }
        .grid {
            padding: 0 20%;
        }
    }
}

@media all and (max-width: 1400px) {
    .block-stacker-container {
        .header {
            h2 {
                font-size: 2.5em;
            }
        }
        .grid {
            padding: 0 15%;
        }
    }
}

@media all and (max-width: 1300px) {
    .block-stacker-container {
        .header {
            h2 {
                font-size: 2em;
            }
        }
        .grid {
            padding: 0 10%;
        }
    }
}

@media all and (max-width: 1200px) {
    #endGameOverlay {
        #text {
            h2 {
                font-size: 1.8rem;
            }
            h3 {
                font-size: 1.6rem;
            }
            button {
                width: 35%;
            }
        }
    }
}

@media all and (max-width: 1000px) {
    .block-stacker-container {
        .grid {
            height: fit-content;
            text-align: center;

            .mobile-buttons {
                display: block;
                margin: 0 auto;
                text-align: center;
                padding-bottom: 1em;

                .button {
                    font-size: 16px;
                    padding: 15px 30px;
                    width: 140px;
                    border: 1px solid black;
                }

                #mobile-play-button {
                    background-color: #4caf50;
                }
                #mobile-reset-button {
                    background-color: red;
                }
                #mobile-pause-button {
                    background-color: #4caf50;

                    &.button-disabled {
                        background-color: #cccccc;
                    }
                }
            }

            .game-board {
                float: none;
                padding: 0;
                margin: 0 auto;
                display: block;
            }

            .game-controls {
                float: none;
                margin: auto;
                padding-top: 1em;
                width: fit-content;

                .mobile-button-container {
                    display: block;

                    .button {
                        border: 1px solid black;
                        margin: 0 0.5em 0.5em 0.5em;
                        background-color: #98ff9c;
                        border-radius: 0.5em;
                        height: 2.5em;
                    }
                }

                .desktop-buttons {
                    display: none;
                }
            }
        }
    }

    #endGameOverlay {
        #text {
            h2 {
                font-size: 1.6rem;
            }
            h3 {
                font-size: 1.4rem;
            }
            button {
                width: 40%;
            }
        }
    }
}

@media all and (max-width: 800px) {
    #endGameOverlay {
        #text {
            h2 {
                font-size: 1.4rem;
            }
            h3 {
                font-size: 1.2rem;
            }
            button {
                width: 45%;

                p {
                    font-size: 0.4em;
                }
            }
        }
    }
}

@media all and (max-width: 600px) {
    #endGameOverlay {
        #text {
            h2 {
                font-size: 1.2rem;
            }
            h3 {
                font-size: 1rem;
            }
            button {
                width: 50%;
            }
        }
    }
}

@media all and (max-width: 400px) {
    #endGameOverlay {
        #text {
            h2 {
                font-size: 1rem;
            }
            h3 {
                font-size: 0.8rem;
            }
            button {
                width: 55%;

                p {
                    font-size: 0.3em;
                }
            }
        }
    }
}
