@import "../../mixins.scss";
@import "../arcade-mixins.scss";

.block-stacker-container {
    min-height: 100vh;
    max-height: fit-content;

    .header {
        @include gameHeader();
    }

    .grid {
        @include gameContainer();

        .mobile-buttons {
            display: none;
        }

        .game-board {
            border: solid 2px;
            background-color: rgba(5, 83, 5, 0.65);
            margin: 0.5em;
        }

        .game-controls {
            flex-direction: column;
            justify-content: space-between;
            width: 300px;
            color: white;
            float: right;

            .mobile-button-container {
                display: none;
            }

            .desktop-buttons {
                display: block;
                flex-direction: row;
                justify-content: space-between;
                bottom: 0;

                .button {
                    font-size: 16px;
                    padding: 15px 30px;
                    width: 140px;
                    border: 1px solid black;
                }

                #play-button {
                    background-color: $colorContainerButtonLight;
                }
                #reset-button {
                    background-color: red;
                }
                #pause-button {
                    background-color: $colorContainerButtonLight;

                    &.button-disabled {
                        background-color: lightgrey;
                    }
                }
            }
        }
    }
}

#endGameOverlay {
    @include windowOverLay();
}

@media all and (max-width: 1500px) {
    .block-stacker-container {
        .header {
            h2 {
                font-size: 3em;
            }
        }
        .grid {
            padding: 0 20%;
        }
    }
}

@media all and (max-width: 1400px) {
    .block-stacker-container {
        .header {
            h2 {
                font-size: 2.5em;
            }
        }
        .grid {
            padding: 0 15%;
        }
    }
}

@media all and (max-width: 1300px) {
    .block-stacker-container {
        .header {
            h2 {
                font-size: 2em;
            }
        }
        .grid {
            padding: 0 10%;
        }
    }
}

@media all and (max-width: 1200px) {
    #endGameOverlay {
        #text {
            h2 {
                font-size: 1.8rem;
            }
            h3 {
                font-size: 1.6rem;
            }
            button {
                width: 35%;
            }
        }
    }
}

@media all and (max-width: 1000px) {
    .block-stacker-container {
        .grid {
            height: fit-content;
            text-align: center;

            .mobile-buttons {
                display: block;
                margin: 0.5em auto;
                text-align: center;
                padding-bottom: 1em;

                .button {
                    font-size: 16px;
                    padding: 15px 30px;
                    width: 140px;
                    border: 1px solid black;
                }

                #mobile-play-button {
                    background-color: $colorContainerButtonLight;
                }
                #mobile-reset-button {
                    background-color: red;
                }
                #mobile-pause-button {
                    background-color: $colorContainerButtonLight;

                    &.button-disabled {
                        background-color: lightgray;
                    }
                }
            }

            .game-board {
                float: none;
                padding: 0;
                margin: 0 auto;
                display: block;
            }

            .game-controls {
                float: none;
                margin: auto;
                padding-top: 1em;
                width: fit-content;

                .mobile-button-container {
                    display: block;

                    .button {
                        border: 1px solid black;
                        margin: 0 0.5em 0.5em 0.5em;
                        background-color: $colorContainerButtonVeryLight;
                        border-radius: 0.5em;
                        height: 2.5em;
                    }
                }

                .desktop-buttons {
                    display: none;
                }
            }
        }
    }

    #endGameOverlay {
        #text {
            h2 {
                font-size: 1.6rem;
            }
            h3 {
                font-size: 1.4rem;
            }
            button {
                width: 40%;
            }
        }
    }
}

@media all and (max-width: 800px) {
    #endGameOverlay {
        #text {
            h2 {
                font-size: 1.4rem;
            }
            h3 {
                font-size: 1.2rem;
            }
            button {
                width: 45%;

                p {
                    font-size: 0.4em;
                }
            }
        }
    }
}

@media all and (max-width: 600px) {
    #endGameOverlay {
        #text {
            h2 {
                font-size: 1.2rem;
            }
            h3 {
                font-size: 1rem;
            }
            button {
                width: 50%;
            }
        }
    }
}

@media all and (max-width: 400px) {
    #endGameOverlay {
        #text {
            h2 {
                font-size: 1rem;
            }
            h3 {
                font-size: 0.8rem;
            }
            button {
                width: 55%;

                p {
                    font-size: 0.3em;
                }
            }
        }
    }
}
