<div class="block-stacker-container">
    <div class="header">
        <h2>Block Stacker</h2>
    </div>
    <div class="grid">
        <canvas #board class="game-board"></canvas>
        <div class="game-controls">
            <div>
                <p>Level: {{ level }}</p>
                <p>Score: {{ score }}</p>
                <p>Lines: {{ lines }}</p>
                <p>High Score: {{ highScore }}</p>
                <p>Next Block:</p>
                <canvas #next class="next"></canvas>
            </div>
            <div class="button-container">
                <button (click)="play()" class="button" id="play-button" *ngIf="!gameStarted">
                    Play
                </button>
                <button (click)="gameOver()" class="button" id="reset-button" *ngIf="gameStarted">
                    Reset
                </button>
                <button (click)="pause()" class="button" id="pause-button" [class.button-disabled]="!gameStarted">
                    Pause
                </button>
            </div>
        </div>
    </div>
</div>

<div id="endGameOverlay">
    <div id="text">
        <h2>Game Over</h2>
        <h3>Oh no, you have lost :(</h3>
        <h3>Your Score: {{ score }}</h3>
        <h3>High Score: {{ highScore }}</h3>
        <h3>Level: {{ level }}</h3>
        <h3>Total Lines Cleared: {{ totalLines }}</h3>
        <button (click)="closeOverlay()">
            <p>Close</p>
        </button>
    </div>
</div>