.page-container {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100%;

  nav {
    top: 0;
    height: 5%;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: rgb(0, 50, 0);
    padding: 1em;
    font-family: monospace;
    text-align: center;
    position: sticky;
    z-index: 100;
    backdrop-filter: blur(5px);

    .container {
      padding: 0;

      .row {
        width: 100%;

        .col {
          white-space: nowrap;

          // .nav-link {
          //   box-shadow: inset 0 0 30px #868686a8;
          //   border-radius: 2em;
          // }

          li .active,
          a:hover {
            h4,
            h5 {
              color: #9dff9d;
            }

            h5:before,
            h5:after {
              opacity: 1;
            }

            h5:before {
              transform: translateX(-5px);
            }

            h5:after {
              transform: translateX(5px);
            }
          }

          h5:before {
            content: "</";
            left: 0;
          }

          h5:after {
            content: ">";
            right: 12px;
          }

          h5:before,
          h5:after {
            position: absolute;
            opacity: 0;
            font-size: 25px;
            color: white;
            transition: all 0.3s;
            bottom: 10px;
          }

          .active,
          a:hover {
            h4 {
              color: #9dff9d;
            }
          }

          .active {
            h4 {
              color: #9dff9d;
              animation-name: floating;
              animation-duration: 2.5s;
              animation-iteration-count: infinite;
              animation-timing-function: ease-in-out;
            }
          }

          h4 {
            margin: 0 auto;
            font-size: 2.5em;
            color: white;
          }

          h5 {
            margin: 0 auto;
            font-size: 2em;
            color: white;
          }
        }

        .navbar-toggler {
          right: 0 !important;
          position: absolute;
          border: 1px solid green;
          border-radius: 0.5em;
          margin-top: 0.3em;
          margin-right: 2em;

          .hamburger-inner,
          .hamburger-inner::before,
          .hamburger-inner::after {
            background-color: white;
          }
        }
      }
    }
  }

  footer {
    bottom: 0;
    height: 5%;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: rgb(0, 50, 0);
    padding: 1em;
    font-family: monospace;
    text-align: center;
    z-index: 100;
    backdrop-filter: blur(5px);
  }
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, -10px);
  }
  to {
    transform: translate(0, -0px);
  }
}

@media all and (max-width: 1500px) {
  .page-container {
    nav {
      .container {
        .row {
          .col {
            h5 {
              font-size: 1.8em;
            }
            h5:before,
            h5:after {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1400px) {
  .page-container {
    nav {
      .container {
        .row {
          .col {
            h5 {
              font-size: 1.7em;
            }
            h5:before,
            h5:after {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1300px) {
  .page-container {
    nav {
      .container {
        .row {
          .col {
            h5 {
              font-size: 1.6em;
            }
            h5:before,
            h5:after {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .page-container {
    nav {
      .container {
        .row {
          .col {
            h5 {
              font-size: 1.5em;
            }
            h5:before,
            h5:after {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1100px) {
  .page-container {
    nav {
      .container {
        .row {
          .col {
            h5 {
              font-size: 1.4em;
            }
            h5:before,
            h5:after {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1000px) {
  .page-container {
    nav {
      .container {
        .row {
          .col {
            h5 {
              font-size: 1.3em;
            }
          }
        }
      }
    }
  }
}
