<div class="page-container">
  <nav>
    <div class="container">
      <div class="row">
        <div class="col">
          <h4 class="text-left">Welcome!</h4>
        </div>
        <div class="col"></div>
        <div class="col">
          <h5>Education</h5>
        </div>
        <div class="col">
          <h5>Projects</h5>
        </div>
        <div class="col">
          <h5>Work Experience</h5>
        </div>
        <div class="col">
          <h5>Contact</h5>
        </div>
      </div>
    </div>
  </nav>
  <app-hero-intro></app-hero-intro>
</div>