.page-container {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100%;

  nav {
    top: 0;
    height: 5%;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: rgb(0, 50, 0);
    padding: 1em;
    font-family: monospace;
    text-align: center;
    position: sticky;
    z-index: 100;
    backdrop-filter: blur(5px);

    .container {
      padding: 0;
      max-width: 85%;

      .row {
        width: 100%;

        .navbar-nav {
          margin: 0 0 0 auto;
        }

        .col {
          white-space: nowrap;

          li .active,
          a:hover {
            h4,
            h5 {
              color: #9dff9d;
            }

            h5:before,
            h5:after {
              opacity: 1;
            }

            h5:before {
              transform: translateX(-5px);
            }

            h5:after {
              transform: translateX(5px);
            }
          }

          h5:before {
            content: "</";
            left: 0;
          }

          h5:after {
            content: ">";
            right: 12px;
          }

          h5:before,
          h5:after {
            position: absolute;
            opacity: 0;
            font-size: 25px;
            color: white;
            transition: all 0.3s;
            bottom: 10px;
          }

          .active,
          a:hover {
            h4 {
              color: #9dff9d;
            }
          }

          .active {
            h4 {
              color: #9dff9d;
              animation-name: floating;
              animation-duration: 2.5s;
              animation-iteration-count: infinite;
              animation-timing-function: ease-in-out;
            }
          }

          h4 {
            margin: 0 auto;
            font-size: 2.5em;
            color: white;
          }

          h5 {
            margin: 0 auto;
            font-size: 2em;
            color: white;
          }
        }

        .navbar-toggler {
          right: 0 !important;
          position: absolute;
          border: 1px solid green;
          border-radius: 0.5em;
          margin-top: 0.3em;
          margin-right: 3em;

          .hamburger-inner,
          .hamburger-inner::before,
          .hamburger-inner::after {
            background-color: white;
          }
        }
      }
    }
  }

  #resumeButton {
    position: fixed;
    left: 50px;
    bottom: 50px;
    -webkit-transition: all 0.2s ease-in 0s;
    transition: all 0.2s ease-in 0s;
    z-index: 9999;
    cursor: pointer;
    width: 5em;
    height: 5em;
    background-color: #4a974a;
    border-radius: 2em;
    animation-name: wobble;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    box-shadow: 0.01em 0.01em 1em 0.01em #549d42;

    #resumeIcon {
      background-size: cover;
      width: 5em;
      height: 5em;
      padding: .5em;
    }
  }

  footer {
    bottom: 0;
    height: 5%;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: rgb(0, 50, 0);
    padding: 1em;
    font-family: monospace;
    text-align: center;
    z-index: 100;
    backdrop-filter: blur(5px);

    .text {
      left: 0;
      p {
        color: white;
      }
    }

    .icons {
      right: 0;

      .fab {
        font-size: 2.5em;
        padding: 0.5em;
        color: white;
      }
    }
  }
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, -10px);
  }
  to {
    transform: translate(0, -0px);
  }
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  5% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-20%) rotate(-5deg);
  }
  30% {
    transform: translateX(15%) rotate(3deg);
  }
  45% {
    transform: translateX(-10%) rotate(-3deg);
  }
  60% {
    transform: translateX(5%) rotate(2deg);
  }
  75% {
    transform: translateX(-2%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}

@supports (-moz-appearance: none) {
  .page-container {
    .navbar {
      background-color: rgba(6, 26, 6, 0.51);
      .container {
        width: 100% !important;
        max-width: 100% !important;
        .row {
          .navbar-title {
            padding: 0 0 0 1em !important;
            max-width: max-content;
            .navbar-brand {
              padding: 0;
              margin-right: 0 !important;
            }
          }
          .spacer {
            display: none !important;
          }
        }
      }
    }
  }
}

@media all and (max-width: 1450px) {
  .page-container {
    nav {
      .container {
        max-width: 90%;
        .row {
          .col {
            h5 {
              font-size: 1.8em;
            }
            h5:before,
            h5:after {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1350px) {
  .page-container {
    nav {
      .container {
        max-width: 92%;
        .row {
          .col {
            h5 {
              font-size: 1.7em;
            }
            h5:before,
            h5:after {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1250px) {
  .page-container {
    nav {
      .container {
        max-width: 94%;
        .row {
          .col {
            h5 {
              font-size: 1.6em;
            }
            h5:before,
            h5:after {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1150px) {
  .page-container {
    nav {
      .container {
        max-width: 96%;
        .row {
          .col {
            h5 {
              font-size: 1.5em;
            }
            h5:before,
            h5:after {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1050px) {
  .page-container {
    nav {
      .container {
        max-width: 98%;
        .row {
          .spacer {
            width: 50% !important;
            max-width: 50% !important;
            margin: 0;
            padding: 0;
          }
          .col {
            h5 {
              font-size: 1.4em;
            }
            h5:before,
            h5:after {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1000px) {
  .page-container {
    nav {
      .container {
        max-width: 100%;
        .row {
          .col {
            h5 {
              font-size: 1.3em;
              padding: 0 0.3em 0 0.1em;
            }
          }
          .collapse {
            .col {
              max-width: max-content;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}
