<div class="work-history-container">
    <div class="header">
        <h2><i class="fas fa-briefcase"></i>Work History</h2>
    </div>
    <div class="workHistoryContent">
        <article>
            <h2><i class="fas fa-plus-square"></i>Across Healthcare</h2>
            <p class="subDetails"></p>
            <p>May 2019 - Current</p>
        </article>
        <article style="margin: 0;">
            <h2><i class="fas fa-store-alt" style="font-size: .8em;"></i>Walmart</h2>
            <p class="subDetails"></p>
            <p>April 2015 - May 2019</p>
        </article>
    </div>
</div>
