<div class="work-history-container">
    <div class="header">
        <h2><i class="fas fa-briefcase"></i>Work History</h2>
    </div>
    <div class="workHistoryContent">
        <article #article0 (mouseover)="articleHover(article0)" (mouseleave)="articleLeave(article0)">
            <h2><i class="fas fa-laptop-code"></i>Net Roadshow</h2>
            <p>Software Engineer</p>
            <div class="articleContent">

            </div>
            <p>July 2021 - Current</p>
        </article>
        <article #article1 (mouseover)="articleHover(article1)" (mouseleave)="articleLeave(article1)">
            <h2><i class="fas fa-code"></i>Diesel David Inc.</h2>
            <p>In-house Software Developer</p>
            <div class="articleContent">
                <p class="subDetails">Manages company websites.</p>
                <p class="subDetails">Created Google Cloud Functions that combine Google API’s and Shop management system API’s to sync shop data with smartphones.</p>
            </div>
            <p>October 2020 - July 2021</p>
        </article>
        <article #article2 (mouseover)="articleHover(article2)" (mouseleave)="articleLeave(article2)">
            <h2><i class="fas fa-plus-square"></i>Across Healthcare</h2>
            <p>Part-Time Software Developer</p>
            <div class="articleContent">
                <p class="subDetails">Created multiple company websites.</p>
                <p class="subDetails">Works with Angular and typescript on company projects.</p>
                <p class="subDetails">Develops with Microsoft Azure functions and repositories.</p>
                <p class="subDetails">Follows agile software development process.</p>
            </div>
            <p>May 2019 - March 2020</p>
        </article>
        <article #article3 (mouseover)="articleHover(article3)" (mouseleave)="articleLeave(article3)">
            <h2><i class="fas fa-store-alt" style="font-size: .8em;"></i>Walmart</h2>
            <p>Electronics Sales Associate</p>
            <div class="articleContent">
                <p class="subDetails">Assists customers.</p>
                <p class="subDetails">In-depth knowledge of modern technology.</p>
                <p class="subDetails">Operates cash registers and stocks shelves.</p>
                <p class="subDetails">Maintains pleasent sales floor appearance.</p>
                <p class="subDetails">Activates wireless devices.</p>
                <p class="subDetails">Manages the Photo Lab.</p>
            </div>
            <p>April 2015 - May 2019</p>
        </article>
    </div>
</div>