<div class="arcade-container container">
    <div class="pageHeader">
        <h2><i class="fas fa-gamepad"></i>THE SECRET ARCADE<i class="fas fa-dice"></i></h2>
    </div>

    <div class="row justify-content-center">
        <div *ngFor="let game of games;" class="col-5 arcade-content">
            <a [routerLink]="game.routerLink" routerLinkActive="active">
                <img [src]="game.imageSource" [title]="game.title" class="arcade-content-layer_bottom">
            </a>
            <div class="arcade-content-layer_top arcade-content-layer_slideup">
                <div class="arcade-content-text">{{game.description}}
                    <a [routerLink]="game.routerLink" routerLinkActive="active" [title]="game.title" >
                        Click here to play
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<router-outlet></router-outlet>