.education-container {
  background-color: rgba(217, 217, 217, .8);
  width: 100vw;
  height: 95vh;

  .header {
    padding: 1em 0;

    h2 {
      text-align: center;
      font-family: monospace;
      font-weight: 600;
      font-size: 3.5em;

      .fas {
        font-size: 0.7em;
        color: #165016;
        margin: 0.5em;
      }
    }
  }
}
