.education-container {
  background-color: rgba(231, 231, 231, 0.75);
  padding-bottom: 2.5em;
  width: 100%;

  .header {
    padding: 1em 0;

    h2 {
      text-align: center;
      font-family: monospace;
      font-weight: 600;
      font-size: 3.5em;

      .fas {
        font-size: 0.7em;
        color: #165016;
        margin: 0.5em;
      }
    }
  }

  .educationContent {
    width: 60%;
    background-color: #7a897a;
    border-radius: 1em;
    padding: 2em;
    margin: 0 auto;
    box-shadow: 0.5em 0.2em 1em 0.3em #64855c;
    transition: transform 2s ease;

    article {
      padding: 2em 0;
      border-width: 1px 0 1px 0;
      border-color: #687668;
      border-style: solid;
      margin-bottom: 1em;
      transition: transform 0.4s ease;

      p {
        margin: 0.5em 0;
        font-weight: 600;
      }

      .subDetails {
        margin: 0;
        font-style: italic;
        font-weight: unset;
      }

      .fas {
        margin: 0 0.3em 0.4em 0;
      }
    }

    article:hover {
      transform: scale(1.04);

      .fas {
        color: #0f360f;
      }
    }
  }

  .educationContent:hover {
    transform: scale(1.02);
  }
}

@media all and (max-width: 1200px) {
  .education-container {
    .educationContent {
      width: 65%;
      margin: 0 17.5%;

      article {
        h2 {
          font-size: 1.8em;
        }
      }
    }
  }
}

@media all and (max-width: 1000px) {
  .education-container {
    .educationContent {
      width: 70%;
      margin: 0 15%;

      article {
        h2 {
          font-size: 1.6em;
        }
      }
    }
  }
}

@media all and (max-width: 800px) {
  .education-container {
    .educationContent {
      width: 75%;
      margin: 0 12.5%;

      article {
        h2 {
          font-size: 1.4em;
        }
      }
    }
  }
}

@media all and (max-width: 600px) {
  .education-container {
    .educationContent {
      width: 80%;
      margin: 0 10%;

      article {
        h2 {
          font-size: 1.2em;
        }
      }
    }
  }
}

@media all and (max-width: 400px) {
  .education-container {
    .educationContent {
      width: 85%;
      margin: 0 7.5%;

      article {
        h2 {
          font-size: 1em;
        }
      }
    }
  }
}
