.cell {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #c6ced9;
    border-color: white black black white;
    border-width: 1px;
    outline: none;

    &.active {
        background-color: #cccccc;
        border-color: #a5a5a5;
    }

    .fas {
        color: #b61717;
    }


}