.container {
    min-height: 100vh;
    max-height: fit-content;

    .pageHeader {
        padding: 1em 0 0 0;

        h2 {
            text-align: center;
            font-family: monospace;
            font-weight: 600;
            font-size: 3.5em;
            color: white;

            .fas {
                font-size: 0.7em;
                color: #4a974a;
                margin: 0.5em;
            }
        }
    }

    .row {
        .col {
            .game-link-container {
                background-color: #7a897a;
                border-radius: 1em;
                margin: 5% 10% 5% 10%;
                box-shadow: 0.5em 0.2em 1em 0.3em #2a3e25;
                animation-duration: 2s;
                animation-fill-mode: both;
                animation-name: scaleIn;

                img {
                    height: 250px;
                    border-radius: 1em;
                    padding: 0.7em;
                    margin: 0 auto;
                    display: block;
                }
            }
        }
        .col:hover {
            animation: shake 3s;
            animation-iteration-count: infinite;
        }
    }
}

@keyframes shake {
    0% {
        transform: scale(1.01) rotate(0deg);
    }
    10% {
        transform: scale(1.02) rotate(-1deg);
    }
    20% {
        transform: scale(1.03) rotate(1deg);
    }
    30% {
        transform: scale(1.04) rotate(0deg);
    }
    40% {
        transform: scale(1.05) rotate(1deg);
    }
    50% {
        transform: scale(1.05) rotate(-1deg);
    }
    60% {
        transform: scale(1.04) rotate(0deg);
    }
    70% {
        transform: scale(1.03) rotate(-1deg);
    }
    80% {
        transform: scale(1.02) rotate(1deg);
    }
    90% {
        transform: scale(1.01) rotate(0.5deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
        opacity: 0;
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@media all and (max-width: 1200px) {
    .arcade-container {
        .pageHeader {
            h2 {
                font-size: 3.3em;
            }
        }
    }
}

@media all and (max-width: 1000px) {
    .arcade-container {
        .pageHeader {
            h2 {
                font-size: 3.1em;
            }
        }
        .row {
            .col {
                .game-link-container {
                    margin: 1em 0;
                }
            }
        }
    }
}

@media all and (max-width: 800px) {
    .arcade-container {
        .pageHeader {
            h2 {
                font-size: 2.9em;
            }
        }
    }
}

@media all and (max-width: 600px) {
    .arcade-container {
        .pageHeader {
            h2 {
                font-size: 2.6em;
            }
        }
    }
}

@media all and (max-width: 400px) {
    .arcade-container {
        .pageHeader {
            h2 {
                font-size: 2.3em;
            }
        }
    }
}
