.container {
    min-height: 100vh;
    max-height: fit-content;

    .pageHeader {
        padding: 1em 0 0 0;

        h2 {
            text-align: center;
            font-family: monospace;
            font-weight: 600;
            font-size: 3.5em;
            color: white;

            .fas {
                font-size: 0.7em;
                color: #4a974a;
                margin: 0.5em;
            }
        }
    }

    .row {
        .arcade-content {
            overflow: hidden;
            box-shadow: 0.5em 0.2em 1em 0.3em #2a3e25;
            background-color: #849a84;
            border-radius: 1em;
            margin: 0 1em 2em 1em;
            animation-duration: 2s;
            animation-fill-mode: both;
            animation-name: scaleIn;
            animation-timing-function: ease-in-out;

            .arcade-content-layer_bottom {
                display: block;
                width: 100%;
                height: 300px;
                border-radius: 1.5em;
                padding: 1em;
                margin: 0 auto;
                display: block;
            }

            .arcade-content-layer_top {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.65);
                color: #fff;
                padding: 1em;
                -moz-transition: all 0.4s ease-in-out 0s;
                -webkit-transition: all 0.4s ease-in-out 0s;
                -ms-transition: all 0.4s ease-in-out 0s;
                transition: all 0.4s ease-in-out 0s;

                .arcade-content-text {
                    text-align: center;
                    font-size: 20px;
                    width: 85%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -moz-transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);

                    a {
                        display: block;
                    }
                }
            }

            .arcade-content-layer_slideup {
                -moz-transform: translateY(100%);
                -webkit-transform: translateY(100%);
                -ms-transform: translateY(100%);
                transform: translateY(100%);
            }
        }

        .arcade-content:hover,
        .arcade-content.active {
            .arcade-content-layer_top {
                opacity: 1;
            }
        }

        .arcade-content:hover,
        .arcade-content.active {
            .arcade-content-layer_slideup {
                -moz-transform: translateY(0);
                -webkit-transform: translateY(0);
                -ms-transform: translateY(0);
                transform: translateY(0);
            }
        }

        .col-5 {
            max-width: 45%;
            flex: 45%;
        }

        .blur {
            filter: brightness(0.9) blur(1px);
        }
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
        opacity: 0;
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@media all and (max-width: 1200px) {
    .arcade-container {
        .pageHeader {
            h2 {
                font-size: 3.2em;
            }
        }

        .row {
            .arcade-content {
                margin: 0 0.5em 1em 0.5em;

                .arcade-content-layer_bottom {
                    height: 250px;
                    padding: 0.8em;
                }

                .arcade-content-layer_top {
                    .arcade-content-text {
                        font-size: 17px;
                        width: 85%;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1000px) {
    .arcade-container {
        .pageHeader {
            h2 {
                font-size: 3em;
            }
        }
    }
}

@media all and (max-width: 800px) {
    .arcade-container {
        .pageHeader {
            h2 {
                font-size: 2.5em;
            }
        }

        .row {
            .arcade-content {
                margin: 0 0.5em 2em 0.5em;

                .arcade-content-layer_top {
                    .arcade-content-text {
                        font-size: 15px;
                    }
                }
            }

            .col-5 {
                max-width: 75%;
                flex: 75%;
            }
        }
    }
}

@media all and (max-width: 600px) {
    .arcade-container {
        .pageHeader {
            h2 {
                font-size: 2.1em;
            }
        }
    }
}

@media all and (max-width: 400px) {
    .arcade-container {
        .pageHeader {
            h2 {
                font-size: 1.6em;
            }
        }
    }
}
