@import "../arcade-mixins.scss";

.bomb-duster-container {
    min-height: 100vh;
    max-height: fit-content;

    .header {
        @include gameHeader();
    }

    .game-board {
        @include gameContainer();

        .top-buttons {
            .col {
                text-align: center;
                margin: auto;
                padding-bottom: 1em;
                padding-left: 5px;
                padding-right: 5px;

                h5 {
                    font-size: 1em;
                }

                .level-selector {
                    font-size: 16px;
                    letter-spacing: 0.05em;
                    border-radius: 2px;
                    border: 0;
                    padding: 5px 0;
                    color: white;
                    background-color: $colorContainerButtonDark;
                    cursor: pointer;
                }

                h6 {
                    padding-left: 0.5em;
                }

                img {
                    height: 50px;
                }
            }
        }

        #board {
            background-color: $colorContainerBackground;
            width: fit-content;
            height: fit-content;
            padding: 0.5em;
            border-radius: 0.25em;

            .row {
                margin: 0 !important;
                padding: 0 !important;
                height: 30px;

                .cell {
                    width: 30px;
                    height: 30px;
                    border-radius: 3px;
                    background-color: #bec3ca;
                    border-color: white black black white;
                    border-width: 1px;
                    outline: none;
                    position: relative;

                    &.active {
                        background-color: lightgrey;
                        border-color: #a5a5a5;
                    }

                    .fa-flag {
                        position: relative;
                        font-size: 20px;
                        top: 2px;
                        left: -2px;
                        color: darkred;
                    }

                    .fa-times {
                        position: absolute;
                        color: black;
                        font-size: 19px;
                        top: 6px;
                        left: 7px;
                    }

                    h5 {
                        &.bomb-1 {
                            color: blue;
                        }

                        &.bomb-2 {
                            color: green;
                        }

                        &.bomb-3 {
                            color: red;
                        }

                        &.bomb-4 {
                            color: darkblue;
                        }

                        &.bomb-5 {
                            color: darkred;
                        }

                        &.bomb-6 {
                            color: teal;
                        }

                        &.bomb-7 {
                            color: black;
                        }

                        &.bomb-8 {
                            color: gray;
                        }
                    }
                }
            }
        }

        .bottom-buttons {
            .col {
                text-align: center;
                margin: auto;
                padding-top: 1em;

                button {
                    font-size: 16px;
                    height: 40px;
                    width: 100%;
                    letter-spacing: 0.05em;
                    border-radius: 2px;
                    border: 0;
                    padding: 5px;
                    color: white;
                    background-color: $colorContainerButtonDark;
                    outline: none;
                    transition: 0.3s ease-in-out;
                }

                button:hover {
                    transform: scale(1.03);
                }
            }
        }
    }
}

@media all and (max-width: 1200px) {
    .bomb-duster-container {
        .header {
            h2 {
                font-size: 3em;
            }
        }

        .game-board {
            padding: 1em 2.5em;

            .top-buttons {
                .col {
                    padding-left: 3px;
                    padding-right: 3px;

                    h5,
                    h6 {
                        font-size: 0.8em;
                    }

                    .level-selector {
                        font-size: 14px;
                    }

                    img {
                        height: 45px;
                    }
                }
            }

            #board {
                .row {
                    height: 25px;

                    .cell {
                        width: 25px;
                        height: 25px;

                        .fa-flag {
                            font-size: 15px;
                            top: -2px;
                            left: -2px;
                        }

                        .fa-times {
                            font-size: 16px;
                            top: 4px;
                            left: 5px;
                        }

                        .fa-bomb {
                            position: relative;
                            font-size: 14px;
                            top: -3px;
                            left: 0px;
                        }

                        h5 {
                            font-size: 1em;
                        }
                    }
                }
            }

            .bottom-buttons {
                .col {
                    button {
                        font-size: 14px;
                        height: 35px;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 800px) {
    .bomb-duster-container {
        .header {
            h2 {
                font-size: 2.5em;
            }
        }

        .game-board {
            padding: 1em 1em;

            .top-buttons {
                .col {
                    padding-left: 1px;
                    padding-right: 1px;
                    width: 33%;

                    h5,
                    h6 {
                        font-size: 0.6em;
                    }

                    .fas {
                        font-size: 10px;
                    }

                    .level-selector {
                        font-size: 10px;
                    }

                    img {
                        height: 35px;
                    }
                }
            }

            #board {
                .row {
                    height: 15px;

                    .cell {
                        width: 15px;
                        height: 15px;

                        .fa-flag {
                            font-size: 9px;
                            top: -9px;
                            left: -4px;
                        }

                        .fa-times {
                            font-size: 10px;
                            top: 2px;
                            left: 3px;
                        }

                        .fa-bomb {
                            font-size: 10px;
                            top: -9px;
                            left: -4px;
                        }

                        h5 {
                            font-size: 0.6em;
                        }
                    }
                }
            }

            .bottom-buttons {
                .col {
                    button {
                        font-size: 10px;
                        height: 30px;
                    }
                }
            }
        }
    }
}
