<div class="bomb-duster-container">
    <div class="header">
        <h2><i class="fas fa-bomb"></i>Bomb Duster</h2>
    </div>

    <div class="game-board">
        <div class="row top-buttons">
            <div class="col">
                <h5>Game Difficulty</h5>
                <select #gameLevel class="level-selector" (change)="levelChanged()">
                    <option value="1">Easy</option>
                    <option value="2">Medium</option>
                    <option value="3">Hard</option>
                    <option value="4">Expert</option>
                    <option value="5">Impossible</option>
                </select>
            </div>
            <div class="col">
                <img [src]="gameStatus">
            </div>
            <div class="col">
                <div class="row"><i class="fas fa-clock"></i>
                    <h6>{{ timeElapsed | number : '1.1-2' }} second(s)</h6>
                </div>
                <div class="row"><i class="fas fa-flag"></i>
                    <h6>{{ gameFlags }}</h6>
                </div>
            </div>
        </div>
        <div id="board">
            <div *ngFor="let row of gameBoard;" class="row">
                <button *ngFor="let cell of row;" [className]="cell.status == 1 ? 'cell active' : 'cell'"
                    (click)="checkCell(cell)" (contextmenu)="$event.preventDefault(); flagCell(cell)">
                    <i *ngIf="cell.status == 2" class="fas fa-flag"></i>
                    <i *ngIf="cell.status == 2 && !cell.isBomb && gameEnded" class="fas fa-times"></i>
                    <i *ngIf="cell.isBomb == true && gameEnded && cell.status != 2" class="fas fa-bomb"></i>
                    <h5 *ngIf="cell.status == 1 && !cell.isBomb && cell.neighborBombs != 0"
                        [className]="'bomb-' + cell.neighborBombs">{{cell.neighborBombs}}</h5>
                </button>
            </div>
        </div>
        <div class="row bottom-buttons">
            <div class="col">
                <button (click)="newGame()">New Game</button>
            </div>
        </div>

    </div>


</div>