.bomb-duster-container {
    min-height: 100vh;
    max-height: fit-content;
    .header {
        padding: 1em 0;

        h2 {
            text-align: center;
            font-family: monospace;
            font-weight: 600;
            font-size: 3.5em;
            color: white;

            .fas {
                font-size: 0.7em;
                color: #4a974a;
                margin: 0.5em;
            }
        }
    }

    .game-board {
        width: fit-content;
        background-color: #7a897a;
        border-radius: 1em;
        padding: 3em;
        margin: 0 auto 3em auto;
        box-shadow: 0.5em 0.2em 1em 0.3em #64855c;

        .top-buttons {
            .col {
                text-align: center;
                margin: auto;
                padding-bottom: 1em;
                h5 {
                    font-size: 1em;
                }

                .level-selector {
                    font-size: 16px;
                    height: 40px;
                    letter-spacing: 0.05em;
                    border-radius: 2px;
                    border: 0;
                    padding: 5px;
                    color: #fff;
                    background-color: #2c4d2d;
                }

                h6 {
                    padding-left: .5em;
                }
            }
        }

        #board {
            background-color: #b9c5b9;
            width: fit-content;
            height: fit-content;
            padding: 0.5em;
            border-radius: 0.25em;

            .row {
                margin: 0 !important;
                padding: 0 !important;
                height: 30px;

                .cell {
                    width: 30px;
                    height: 30px;
                    border-radius: 3px;
                    background-color: #bec3ca;
                    border-color: white black black white;
                    border-width: 1px;
                    outline: none;
                    position: relative;

                    &.active {
                        background-color: #cccccc;
                        border-color: #a5a5a5;
                    }

                    .fa-flag {
                        position: relative;
                        font-size: 20px;
                        top: 2px;
                        left: -2px;
                        color: #b61717;
                    }

                    .fa-times {
                        position: absolute;
                        color: black;
                        font-size: 19px;
                        top: 6px;
                        left: 7px;
                    }

                    h5 {
                        &.bomb-1 {
                            color: blue;
                        }

                        &.bomb-2 {
                            color: green;
                        }

                        &.bomb-3 {
                            color: red;
                        }

                        &.bomb-4 {
                            color: darkblue;
                        }

                        &.bomb-5 {
                            color: darkred;
                        }

                        &.bomb-6 {
                            color: teal;
                        }

                        &.bomb-7 {
                            color: black;
                        }

                        &.bomb-8 {
                            color: gray;
                        }
                    }
                }
            }
        }

        .bottom-buttons {
            .col {
                text-align: center;
                margin: auto;
                padding-top: 1em;

                button {
                    font-size: 16px;
                    height: 40px;
                    width: 100%;
                    letter-spacing: 0.05em;
                    border-radius: 2px;
                    border: 0;
                    padding: 5px;
                    color: #fff;
                    background-color: #2c4d2d;
                }
            }
        }
    }
}
