@import "../mixins.scss";

.education-container {
  background-color: rgba(lightgrey, 0.75);
  padding-bottom: 2.5em;
  width: 100%;

  .header {
    padding: 1em 0;

    h2 {
      @include componentHeader();

      .fas {
        @include componentHeaderIcon();
      }
    }
  }

  .educationContent {
    @include articleContainer();

    article {
      @include articleContent();

      p {
        @include articleParagraph();
      }

      .subDetails {
        @include articleSubDetails();
      }

      .fas {
        margin: 0 0.3em 0.4em 0;
      }
    }

    article:hover {
      @include articleHover();
    }
  }

  .educationContent:hover {
    transform: scale(1.02);
  }
}

@media all and (max-width: 1200px) {
  .education-container {
    .header {
      h2 {
        font-size: 3.3em;
      }
    }
    .educationContent {
      width: 65%;
      margin: 0 17.5%;

      article {
        h2 {
          font-size: 1.8em;
        }
      }
    }
  }
}

@media all and (max-width: 1000px) {
  .education-container {
    .header {
      h2 {
        font-size: 3.1em;
      }
    }
    .educationContent {
      width: 70%;
      margin: 0 15%;

      article {
        h2 {
          font-size: 1.6em;
        }
        .subDetails {
          font-weight: unset;
        }
      }
    }
  }
}

@media all and (max-width: 800px) {
  .education-container {
    .header {
      h2 {
        font-size: 2.9em;
      }
    }
    .educationContent {
      width: 75%;
      margin: 0 12.5%;

      article {
        h2 {
          font-size: 1.4em;
        }
      }
    }
  }
}

@media all and (max-width: 600px) {
  .education-container {
    .header {
      h2 {
        font-size: 2.6em;
      }
    }
    .educationContent {
      width: 80%;
      margin: 0 10%;

      article {
        h2 {
          font-size: 1.2em;
        }
      }
    }
  }
}

@media all and (max-width: 400px) {
  .education-container {
    .header {
      h2 {
        font-size: 2.3em;
      }
    }
    .educationContent {
      width: 85%;
      margin: 0 7.5%;

      article {
        h2 {
          font-size: 1em;
        }
      }
    }
  }
}
