<div class="project-container">
    <div class="header">
        <h2><i class="fas fa-book"></i>Projects</h2>
    </div>

    <carousel (activeSlideChange)="projectItemSlide($event)" [noPause]="false"
        [interval]="classReference.carouselInterval" id="project-carousel">
        <slide *ngFor="let project of projects; let i = index" class="carousel-item">
            <div class="project-item">
                <div class="container">
                    <div class="row">
                        <div class="col left-side horizontal-scroll-wrapper">
                            <div class="project-image-container">
                                <div class="row">
                                    <div *ngFor="let image of project.images">
                                        <div class="col">
                                            <img [src]="image.src" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col right-side">
                            <div class="project-details-container">
                                <h1>{{ project.name }}</h1>
                                <h3>Language: {{ project.language }}</h3>
                                <h3>Created: {{ project.date }}</h3>
                                <p>{{ project.description }}</p>
                                <a *ngIf="project.name === 'Legacy Website'" [href]="project.link"
                                    target="_blank">{{ project.linkDescription }}</a>
                                <a *ngIf="project.name === 'Secret Arcade'" [routerLink]="project.link"
                                    routerLinkActive="active" (click)="arcadeClick()">
                                    {{ project.linkDescription }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </slide>
    </carousel>

</div>