.project-container {
    
  .carousel {
    height: 95vh;
    margin-top: 5%;

    .carousel-inner {
      height: 100%;
      .carousel-item {
        height: 80%;

        .project-item {
          width: 80%;
          height: 80%;
          background-color: #7a897a;
          border-radius: 1em;
          margin: 5% 10% 5% 10%;
        }
      }
    }

    .carousel-indicators {
      margin-bottom: 4em;
    }
  }
}
