.project-container {
    
  .carousel {
    margin-top: 5%;

    .carousel-inner {
      height: 100%;
      .carousel-item {

        .project-item {
          width: 80%;
          height: 80%;
          background-color: #7a897a;
          border-radius: 1em;
          margin: 5% 10% 5% 10%;

          .container {
            margin: 0;
            max-width: 100%;

            .left {
              overflow-x: scroll;
              margin: 1em;

              .project-image-container {
                max-height: 45em;
                overflow: hidden;
                min-width: max-content;
                border-radius: 1em;

                .col {
                  float: left;
                  margin: 0;
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }

    .carousel-indicators {
      margin-bottom: 4em;
    }
  }
}
