.project-container {
  .header {
    padding: 1em 0;

    h2 {
      text-align: center;
      font-family: monospace;
      font-weight: 600;
      font-size: 3.5em;
      color: white;

      .fas {
        font-size: 0.7em;
        color: #4a974a;
        margin: 0.5em;
      }
    }
  }

  .carousel {

    .carousel-inner {
      height: 100%;
      .carousel-item {
        .project-item {
          width: 80%;
          height: 80%;
          background-color: #7a897a;
          border-radius: 1em;
          margin: 5% 10% 5% 10%;

          .container {
            margin: 0;
            max-width: 100%;

            .left {
              overflow-x: scroll;
              margin: 1em;

              .project-image-container {
                max-height: 45em;
                overflow: hidden;
                min-width: max-content;
                border-radius: 1em;

                .col {
                  float: left;
                  margin: 0;
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }

    .carousel-indicators {
      margin-bottom: 4em;
    }
  }
}
